# Environment Files 
.env 
.env.local 
**/.env 
 
# IDE 
.idea/ 
.vscode/ 
**/.idea/ 
**/.vscode/ 
 
# Logs 
logs/ 
*.log 
**/logs/ 
 
# Node 
node_modules/ 
**/node_modules/ 
 
# Build 
target/ 
**/target/ 
dist/ 
build/ 
